@import "tailwindcss";

@theme inline {
  --font-Plateia: 'PlateiaBold', sans-serif;
  --font-Mont: 'Montserrat', sans-serif;
  --color-Yellow: #F3EA23;
  --color-GrayP: #3E3D3E;
}

@font-face {
  font-family: 'PlateiaBold';
  src: url('/fonts/Plateia Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Montserrat", sans-serif;
}

.maxW {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 2%;
}

h1 {
  font-family: 'PlateiaBold', sans-serif;
}

.bgSlide1 {
  background-image: url('/bg/bg-slide.png');
  height: calc(100vh);
  background-position: center;
  background-size: cover;
  height: 100vh;
}

.bgCardService1 {
  background-image: url('/bg/service1.jpg');
  background-position: center;
  background-size: cover;
}

.bgCardService2 {
  background-image: url('/bg/service2.jpg');
  background-position: center;
  background-size: cover;
}

.bgCardService3 {
  background-image: url('/bg/service3.jpg');
  background-position: center;
  background-size: cover;
}

.TopRelative {
  position: relative;
  top: 68px;
}

@keyframes dash {
  0% {
    stroke-dashoffset: 500;
  }

  40% {
    stroke-dashoffset: 0;
  }

  60% {
    stroke-dashoffset: 0;
  }

  100% {
    stroke-dashoffset: 500;
  }
}

@keyframes dash {
  0% {
    stroke-dashoffset: 500;
  }

  60% {
    stroke-dashoffset: 0;
  }

  80% {
    stroke-dashoffset: 0;
  }

  100% {
    stroke-dashoffset: 500;
  }
}

.pxl-item--svg-stroke {
  font-size: 96px;
  font-weight: 400;
  line-height: normal;
}

.pxl-item-text--svg-stroke {
  color: transparent;
  fill: transparent;
  stroke: rgba(255, 255, 255, 0.4);
  stroke-dasharray: 500;
  stroke-dashoffset: 500;
  animation: dash 6s ease-in-out infinite;
  animation-delay: 0.5s;
}